#parentfooter{
    display: flex;
    color: aliceblue;
}
#fille1footer{
   color: aliceblue;
   margin: auto;
}
#fille2footer{
    color: aliceblue;
    margin: auto;
}
#fille3footer{
    color: aliceblue;
    margin: auto;
}
@media screen {
    
}
@media screen {
    
}